
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title>Six Door Innovations | exhibitions | South Africa</title>
  <meta name="description" content="Six Door Innovations specializes in providing comprehensive project management solutions for Exhibitions, Shop fitting and Custom work tailored to meet the unique needs of clients across various industries. With a focus on efficiency, quality, and innovation, we excel in guiding projects from inception to completion, ensuring successful outcomes and exceeding expectations. Six Door Innovations is your trusted partner in navigating the complexities of project management.">
  <link rel="canonical" href="https://www.sixdoorinnovations.co.za">
  <meta property="og:title" content="Six Door Innovations | exhibitions | South Africa">
  <meta property="og:description" content="Six Door Innovations specializes in providing comprehensive project management solutions for Exhibitions, Shop fitting and Custom work tailored to meet the unique needs of clients across various industries. With a focus on efficiency, quality, and innovation, we excel in guiding projects from inception to completion, ensuring successful outcomes and exceeding expectations. Six Door Innovations is your trusted partner in navigating the complexities of project management.">
  <meta property="og:image" content="/images/76ae37_12b2868595434bc28908097be2b3508e~mv2.png">
  <meta property="og:image:width" content="865">
  <meta property="og:image:height" content="348">
  <meta property="og:url" content="https://www.sixdoorinnovations.co.za">
  <meta property="og:site_name" content="Six Door Innovations">
  <meta property="og:type" content="website">
  <script type="application/ld+json">{"@context":"https://schema.org/","@type":"LocalBusiness","name":"Six Door Innovations","url":"https://www.sixdoorinnovations.co.za","image":"/images/10df4d_e9db5a7254264ce297907003d865d185~mv2.png","address":{"@type":"PostalAddress","addressCountry":"ZA","addressLocality":"Boksburg","addressRegion":"GT","postalCode":"1459","streetAddress":"15 Top Road"},"telephone":"0824622692"}</script>
  <script type="application/ld+json">{"@context":"https://schema.org/","@type":"WebSite","name":"Six Door Innovations","url":"https://www.sixdoorinnovations.co.za"}</script>
  <meta name="google-site-verification" content="ch5-FxW21BHGhcn5Q7XxLS4J7G6V8LGwbq4uiZitjTc">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Six Door Innovations | exhibitions | South Africa">
  <meta name="twitter:description" content="Six Door Innovations specializes in providing comprehensive project management solutions for Exhibitions, Shop fitting and Custom work tailored to meet the unique needs of clients across various industries. With a focus on efficiency, quality, and innovation, we excel in guiding projects from inception to completion, ensuring successful outcomes and exceeding expectations. Six Door Innovations is your trusted partner in navigating the complexities of project management.">
  <meta name="twitter:image" content="/images/76ae37_12b2868595434bc28908097be2b3508e~mv2.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="https://appservice.azureedge.net/css/app-service/v3/main.css"> -->
    <script src="https://appservice.azureedge.net/scripts/app-service/v3/loc.min.js" crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="../fonts/css/all.css">
    <script
        type="text/javascript">window.onload = function () { try { var a = window.location.hostname; if (a.includes(".azurewebsites.net")) { a = a.replace(".azurewebsites.net", "") } var b = document.getElementById("depCenterLink1"); b.setAttribute("href", b.getAttribute("href") + "&sitename=" + a); loc(); } catch (d) { } }</script>
</head>

<body>
    <div>
        <div class="loading-welcome active welcome-screen"
        ng-style="{'background-color': view.code.welcome_extra.background || view.welcome_extra.background}"
        style="background-color: rgb(255, 255, 255); display: none;">
        <div class="progress">
          <div class="loading-bar indeterminate" ng-style="{'background-color': view.code.color1 || view.color1}"
            style="background-color: rgb(106, 39, 142);"></div>
        </div>
        <div class="helper"></div>
        <img id="welcomeImg" imageonload=""
          ng-src="//qrcgcustomers.s3-eu-west-1.amazonaws.com/account16468716/21309814_1.png?0.21710133167162549" ng-style="{
                'max-width': view.code.welcome_extra.zoom *2 || view.welcome_extra.zoom *2 + 'px',
                'max-height': view.code.welcome_extra.zoom *2 || view.welcome_extra.zoom *2 + 'px',
                'animation-iteration-count' :  view.showPreview == 'infinite' ? 'infinite' : '',
                'animation-direction' :  view.showPreview == 'infinite' ? 'alternate' : ''
                }" src="//qrcgcustomers.s3-eu-west-1.amazonaws.com/account16468716/21309814_1.png?0.21710133167162549"
          style="max-width: 100px; max-height: 100px; display: inline;">
      </div>
      <div class="vcard-template style2" id="rootElement">
        <div class="bgd-shadow"></div>
        <div class="page-home page">
          <div class="vcard-header" ng-style="getBackgroundColor();">
            <video id="bgVideo" controls preload="true" playsinline autoplay muted loop>
                <source src="background.mp4" type="video/mp4" />               
             </video>
            <div class="vcard-header-wrapper card-top">
              <div class="vcard-top-info">
                <h4 class="top"></h4>
                <div class="img" ng-show="!loadDemo &amp;&amp; view.avatar"
                  ng-style="{'background':view.avatar?'url('+view.avatar+')':'none'}"
                  style="background: url('Logo.png');">
                </div>
                <h2 class="name dynamicTextColor ng-binding" ng-show="view.firstname || view.lastname">Six Door Innovations</h2>
    
                <h6 class="title dynamicTextColor ng-binding">Where Vision Becomes Reality</h6>
                <small class="text-white-50 mb-3">Company Reg: 2024/136195/07</small>
              </div>
              <div class="vcard-functions"
                ng-show="view.numbers_mobile ||  view.numbers_phone ||  view.email || ((view.city ||view.street|| view.zip|| view.country) &amp;&amp; view.show_directions)">
                <div class="vcard-functions-wrapper">
                  <a class="header-button" href="tel:+27723834266"
                    ng-style="{'transition': loadDemo ? 'none' : 'all 0.15s ease'}" style="transition: all 0.15s ease 0s;">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <small class="mt-1">Call</small>
                  </a>
    
                  <a class="header-button" ng-show="loadDemo &amp;&amp; (view.email)"
                  href="mailto:info@checkeredblock.co.za" target="_blank"
                    ng-style="{'transition': loadDemo ? 'none' : 'all 0.15s ease'}" style="transition: all 0.15s ease 0s;">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              <small class="mt-1">Email</small>
                  </a>
    
                  <a ng-show="((view.street || view.city )&amp;&amp; view.show_directions)"
                    ng-click="callAction($event, 'mapAction')" class="" href="https://wa.me/+27723834266" target=”_blank”>
                    <i class="fa fa-whatsapp"></i>
                    <small class="mt-1">WhatsApp</small>
                  </a>
    
    
                </div>
              </div>
            </div>
          </div>
          <div class="vcard-body-wrapper">
            <div class="vcard-body border bg-white shadow-lg">
    
              <div id="dvcard-details">
                <!-- <div class="vcard-row" ng-show="view.bio">
                  <div>Please use your cellphone number as reference when
                    making payment.<br><br>
                    <h6>Banking details:</h6>
                    <b>Account Name:</b> Checkered Block Solutions (Pty) Ltd<br>Bank:
                    First National Bank<br>Account Number : 62866867454<br>Branch: 250655</div>
                </div> -->
                <div id="socialmedialinksContainer">
                  <div class="vcard-social" style="margin-bottom:20px;">
                    <!--        <h5>-->
                    <!--</h5>-->
                    <!--        <a href="{{value|prefixURL}}" ng-repeat="(key, value) in view.socialmedialinks"><span-->
                    <!--                    class="icon icon-wrapper {{key}}" target="_top"><i class="icon icon icon-{{key}}"></i></span></a>-->
                    <!-- <div class="socialMedia-container" ng-show="view.code.channels.length > 0">
                      <label>Social Media</label>
                      <i class="icon-social-media"></i>
                     
                    </div> -->
                  </div>
                </div>
                <div class="vcard-separator" ng-show="view.bio"></div>
                <div class="vcard-row" ng-show="view.numbers_mobile">
                  <i class="fa fa-share-alt"></i> 
                  <div>
                    <small>Social Media</small>
    
                    <div class="channels-padding mt-2">
                      <!-- ngRepeat: channel in view.code.channels track by $index --><a
                        href="http://www.facebook.com/checkeredblock/" target="_blank" class="channel-container ng-scope"
                        id="channel-item-Facebook" ng-click="loadDemo ? callAction($event,'channelAction') : ''"
                        ng-repeat="channel in view.code.channels track by $index">
                        <div class="table-cell-middle pl-55 pos-relative">
                          <div class="channel-bgd-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                          </div>
                        </div>
                      </a><!-- end ngRepeat: channel in view.code.channels track by $index --><a
                        href="http://www.instagram.com/checkeredblock" target="_blank" class="channel-container ng-scope"
                        id="channel-item-Instagram" ng-click="loadDemo ? callAction($event,'channelAction') : ''"
                        ng-repeat="channel in view.code.channels track by $index">
                        <div class="table-cell-middle pl-55 pos-relative">
                          <div class="channel-bgd-instagram">
                            <!-- ngIf: channel.name != 'Snapchat' --><i ng-if="channel.name != 'Snapchat'"
                              class="fa fa-instagram"></i><!-- end ngIf: channel.name != 'Snapchat' -->
                            <!-- ngIf: channel.name == 'Snapchat' -->
                          </div>
                        </div>
                      </a><!-- end ngRepeat: channel in view.code.channels track by $index --><a
                        href="https://wa.me/+27723834266" target="_blank" class="channel-container ng-scope"
                        id="channel-item-WhatsApp" ng-click="loadDemo ? callAction($event,'channelAction') : ''"
                        ng-repeat="channel in view.code.channels track by $index">
                        <div class="table-cell-middle pl-55 pos-relative">
                          <div class="channel-bgd-whatsapp">
                            <!-- ngIf: channel.name != 'Snapchat' --><i ng-if="channel.name != 'Snapchat'"
                              class="fa fa-whatsapp"></i><!-- end ngIf: channel.name != 'Snapchat' -->
                            <!-- ngIf: channel.name == 'Snapchat' -->
                          </div>
                        </div>
                      </a><!-- end ngRepeat: channel in view.code.channels track by $index --><a
                        href="https://www.linkedin.com/company/checkered-block-solutions/" target="_blank"
                        class="channel-container ng-scope" id="channel-item-LinkedIn"
                        ng-click="loadDemo ? callAction($event,'channelAction') : ''"
                        ng-repeat="channel in view.code.channels track by $index">
                        <div class="table-cell-middle pl-55 pos-relative">
                          <div class="channel-bgd-linkedin">
                            <!-- ngIf: channel.name != 'Snapchat' --><i ng-if="channel.name != 'Snapchat'"
                              class="fa fa-linkedin"></i><!-- end ngIf: channel.name != 'Snapchat' -->
                            <!-- ngIf: channel.name == 'Snapchat' -->
                          </div>
                        </div>
                      </a><!-- end ngRepeat: channel in view.code.channels track by $index --><a
                        href="https://checkered-block.com" target="_blank" class="channel-container ng-scope"
                        id="channel-item-Website" ng-click="loadDemo ? callAction($event,'channelAction') : ''"
                        ng-repeat="channel in view.code.channels track by $index">
                        <div class="table-cell-middle pl-55 pos-relative">
                          <div class="channel-bgd-website">
                            <!-- ngIf: channel.name != 'Snapchat' --><i ng-if="channel.name != 'Snapchat'"
                              class="fa fa-globe"></i><!-- end ngIf: channel.name != 'Snapchat' -->
                            <!-- ngIf: channel.name == 'Snapchat' -->
                          </div>
                        </div>
                      </a><!-- end ngRepeat: channel in view.code.channels track by $index -->
                    </div>
                  </div>
                </div>
                <div class="vcard-separator" ng-show="view.bio"></div>
                <div class="vcard-row" ng-show="view.numbers_mobile">
                  <i class="material-icons">
                    account_balance
                  </i> 
                  <small>Account Holder</small>
                  <div><a class="ng-binding">Checkered Block Solutions (Pty) Ltd</a></div>
                  <small>Bank</small>
                  <div><a class="ng-binding">First National Bank</a></div>
                  <small>Account Number</small>
                  <div><a class="ng-binding">62866867454</a></div>
                  <small>Branch Code</small>
                  <div><a class="ng-binding">250655</a></div>
                  <small>Payment Reference</small>
                  <div><a class="ng-binding">Name and Surname / Invoice Number</a></div>
                </div>
    
                <div class="vcard-separator" ng-show="view.bio"></div>
                <div class="vcard-row" ng-show="view.numbers_mobile">
                  <i class="material-icons">
                    phone
                  </i> 
                  <small>Mobile</small>
                  <div><a href="tel:072 383 4266" class="ng-binding">072 383 4266</a></div>
                </div>
                <div class="vcard-separator" ng-show="view.numbers_mobile || view.numbers_phone"></div>
                <div class="vcard-row" ng-show="view.email">
                  <i class="material-icons">
                    email
                  </i> 
                  <small>Email</small>
                  <div><a href="mailto:info@checkeredblock.co.za" target="_newLink"
                      class="ng-binding">info@checkeredblock.co.za</a></div>
                </div>
                <div class="vcard-separator"></div>
                <div class="vcard-row" ng-show="view.company">
                  <i class="material-icons">
                    work
                  </i> 
                  <small ng-show="view.job" class="ng-binding">Owner &amp; Founder</small>
                  <div class="ng-binding">Corlé-Ann
                    McCallaghan</div>
                </div>
    
                <div class="vcard-separator"
                  ng-show="view.venue || view.city || view.state || view.zip || view.street || view.country"></div>
    
                <div class="vcard-row" ng-show="view.website">
                  <i class="material-icons">
                    language
                  </i> 
                  <small>Website</small>
                  <div><a href="https://checkered-block.com" target="_newLink"
                      class="ng-binding">www.checkered-block.com</a></div>
                </div>
                <div class="vcard-separator"
                  ng-show="view.bio || view.numbers_mobile || view.numbers_phone || view.email || view.street || view.zip || view.city || view.country || view.company ">
                </div>
             
                <div class="vcard-row follow-scroll contactData-container fixed-button">
                  <div class="fabs" id="saveContact">
                    <div class="fixed-blur-bgd">
                      <div class="chat">
                        <div class="fab-body fab-step1">
                          <div class="iconFab icon-fab-close"></div>
                          <div class="fab-header" ng-style="{color: isColorLight(view.color2) ? 'black' : view.color2}"
                            style="color: rgb(254, 39, 228);">
                            Save Contact Data </div>
                          <div class="fab-header text-regular">How would you like to save contact data?</div>
                          <ul>
                            <li open-popup="email" class="addContactAction"
                              ng-click="!loadDemo ? toggleFabStep(1,2) : callAction($event, 'addContactAction')">
                              <i class="iconFab icon-fab-share-email"></i>
                              <a href="">
                                Send by Email </a>
                            </li>
                            <li ng-click="loadDemo ? callAction($event, 'addContactAction') : ''" class="addContactAction">
                              <i class="iconFab icon-fab-share-savecontact"></i>
                              <!-- ngIf: !loadDemo --><a ng-if="!loadDemo" href="//qrco.de/handlePost/bcaAGt/?download=true"
                                rel="external" class="ng-scope">
                                Save to My Phone </a><!-- end ngIf: !loadDemo -->
                              <!-- ngIf: loadDemo -->
                            </li>
                          </ul>
    
                        </div>
                        <div class="fab-body fab-step2" style="display:none;">
                          <div class="iconFab icon-fab-close"></div>
                          <div class="icon-event-back" ng-click="toggleFabStep(2,1)"></div>
                          <div class="fab-header mt-10"
                            ng-style="{color: isColorLight(view.color2) ? 'black' : view.color2}"
                            style="color: rgb(254, 39, 228);">
                            <span class="emailText1">Send by Email</span>
                            <span class="emailText2">Email was send</span>
                          </div>
                          <div class="fab-header text-regular">
                            <span class="emailText1">Send contact details using email.</span>
                            <span class="emailText2">Please have a look to you inbox, the email will arrive shortly.</span>
                          </div>
                          <form action="#" method="post" class="ng-pristine ng-valid ng-valid-email">
                            <input class="fab-email-input ng-pristine ng-untouched ng-valid ng-valid-email" type="email"
                              id="email" ng-model="email" placeholder="Enter Email Address">
                            <input type="hidden" id="YII_CSRF_TOKEN" name="YII_CSRF_TOKEN"
                              value="1549ec340acf0c9d99e7aba565974f6184823a21">
                            <div class="btn green block" ng-click="sendByEmail(email);"
                              style="float: left;margin-top: 20px;">
                              Send </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- <a id="prime" class="fab" ng-style="{background:view.color2||'#607d8b'}"
                      style="background: rgb(254, 39, 228);">
                      <span class="hidden-xs" ng-style="{'color': isColorLight(view.color2) ? 'black' : 'white'}"
                        style="color: white;">
                        <i class="prime iconFab icon-fab-share-add"
                          ng-style="{'color': isColorLight(view.color2) ? 'black' : 'white'}" style="color: white;"></i>
                        Download vCard </span>
                      <i class="prime iconFab icon-fab-share-add visible-xs"
                        ng-style="{'color': isColorLight(view.color2) ? 'black' : 'white'}" style="color: white;"></i>
                    </a> -->
                  </div>
                </div>
                <!-- <div class="vcard-row follow-scroll share-container fixed-button fixed-button--share-button"
                  ng-style="setPosition('share')">
                  <div class="fabs" id="shareFab">
                    <div class="fixed-blur-bgd">
                      <div class="chat">
                        <div class="fab-body">
                          <div class="iconFab icon-fab-close"></div>
                          <div class="fab-header" ng-style="{'color': isColorLight(view.color2) ? 'black' : view.color2}"
                            style="color: rgb(254, 39, 228);">Share</div>
                          <ul class="ssk-block ssk-md" data-url="http://qrco.de/bcaAGt?trackSharing=1" data-text="">
                            <li>
                              <i class="iconFab icon-fab-share-facebook"></i>
                              <a href="" class="ssk ssk-text ssk-facebook">Facebook</a>
                            </li>
                            <li>
                              <i class="iconFab icon-fab-share-twitter"></i>
                              <a href="" class="ssk ssk-text ssk-twitter">Twitter</a>
                            </li>
                            <li>
                              <i class="iconFab icon-fab-share-googleplus"></i>
                              <a href="" class="ssk ssk-text ssk-google-plus">Google+</a>
                            </li>
                            <li>
                              <i class="iconFab icon-fab-share-whatsapp"></i>
                              <a href="whatsapp://send?text=http://qrco.de/bcaAGt?trackSharing=1"
                                class="ssk ssk-whatsapp">Whatsapp</a>
                            </li>
                            <li>
                              <i class="iconFab icon-fab-share-email"></i>
                              <a href="mailto:?body=http://qrco.de/bcaAGt?trackSharing=1" target="_blank">Email</a>
                            </li>
                            <li>
                              <i class="iconFab icon-fab-share-message"></i>
                              <input id="shortUrl" value="http://qrco.de/bcaAGt" readonly="">
                              <button id="copyButton">Copy</button>
                              <div class="ifCopySucceed ng-hide" ng-show="ifCopySucceed">
                                Text copied to the clipboard. </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <a id="prime" class="fab white-bgd ng-scope" ng-if="view.sharing"
                      ng-click="!loadDemo ?  '' : callAction($event,'shareAction')">
                      <span class="hidden-xs">
                        <i class="prime icon iconFab icon-fab-share"></i>
                        Share this page </span>
                      <i class="prime icon iconFab icon-fab-share visible-xs"></i>
                    </a>
                  </div>
                </div>
     -->
                <div id="gotIt">
                  <div class="fixed-blur-bgd">
                    <div class="dialog-container">
                      <div class="fab-body">
                        <div class="event-gotIt-button">
                        </div>
                        <div class="dialog-body pull-left ng-binding">
    
                        </div>
                        <a class="text-regular-blue mt-20" ng-click="closeGotItDialog()">
                          Got it </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="page-maps page hidden">
          <div class="devent-map-header">
            <div class="event-section-title " ng-style="getBackgroundColor();"
              style="background: linear-gradient(45deg, rgb(106, 39, 142) 0%, rgb(106, 39, 142) 1%, rgb(203, 31, 182) 100%);">
              <div class="event-content-container">
                <i class="icon-event-back dynamicTextColor" ng-click="switchPages('page-maps','page-home', false)"></i>
                <div class="event-title dynamicTextColor">Location</div>
              </div>
            </div>
          </div>
          <div class="event-body">
            <div class="vcard-body-wrapper">
              <div class="vcard-body">
                <div id="dvcard-maps">
                  <div>
                    <img>
                    <div ng-show="resetMap &amp;&amp; (view.venue || view.city || view.state || view.zip)"
                      ng-click="resetMap=false; setMapUrl()" class="reset-map ng-hide">Reset map</div>
                  </div>
                  <div class="vcard-row ng-hide" ng-show="view.venue || view.city || view.state || view.zip">
                    <label>Where</label>
                    <i class="icon icon-event-location"></i>
                    <!--<h4>{{view.venue}}</h4>-->
                    <h4 class="ng-binding"> </h4>
                    <h4 class="ng-binding"><span ng-show="view.state || view.zip" class="ng-binding ng-hide"><span
                          ng-show="view.city" class="ng-hide">,</span> </span>
                    </h4>
                    <h4 class="ng-binding"></h4>
                    <input id="addressValue" type="hidden" ng-value="view.street + ','  + view.city + ',' + view.country "
                      value=",,">
                    <div class="floated-container">
                      <a class="event-slim-button ripplelink left_20 mt-10"
                        ng-style="{'color': isColorLight(view.color2) ? 'black' : view.color2}"
                        ng-click="callAction($event, 'redirectToMap')" style="color: rgb(254, 39, 228);">
                        Show directions </a>
                    </div>
                  </div>
                </div>
                <div id="redirectToMaps">
                  <div class="fixed-blur-bgd">
                    <div class="dialog-container">
                      <div class="fab-body">
                        <div class="event-title">
                          Use Google Maps </div>
                        <div class="dialog-body">
                          Directions will open in Google Maps. Do you want to continue? </div>
                        <a class="event-slim-button ripplelink mt-10 pull-right"
                          ng-style="{'color': isColorLight(view.color2) ? 'black' : view.color2}"
                          ng-click="dialogRedirectCallback(false)" style="color: rgb(254, 39, 228);">
                          No </a>
                        <a class="event-slim-button ripplelink mt-10 pull-right"
                          ng-style="{'color': isColorLight(view.color2) ? 'black' : view.color2}"
                          ng-click="dialogRedirectCallback(true, 'https://maps.google.com/maps?daddr='+getMapAddress())"
                          style="color: rgb(254, 39, 228);">
                          Yes </a>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
        <!--    -->
      </div>
    </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>