:root{
    --primary-color: #6d8b74;
    --secondary-color: #5f7161;
    --page-background-color: linear-gradient(180deg, #a4c3a2 0%, #eae0d5 100%);
    --card-bg-color: rgba(255, 255, 255, 0.9);
    --avatar-border-color: #6d8b74;
    --text-color: #5f7161;
    --font-family: 'Quicksand', sans-serif;
    --action-button-bg-color: #6d8b74;
    --action-button-text-color: #ffffff;
    --info-item-icon-bg-color: rgba(109, 139, 116, 0.15);
    --info-item-label-color: #a4c3a2;
    --info-item-text-color: #5f7161;
    --info-item-icon-text-color: #6d8b74;
    --header-color: #5f7161;
    --cta-button-bg-color: #5f7161;
    --cta-button-text-color: #ffffff;
    --button-radius: 25px;
    --subtitle-color: #6d8b74;
}
